.content {
    position: sticky;
    top: 0;
}
.navbar {
    background-color: #1c1c22 !important;
}

.navbar-nav{
    padding-right: 60px;
}

.navbar-brand {
    font-family: 'Playwrite HR Lijeva', cursive;
    color: #00ff99 !important;
    font-weight: bold;
    padding-left: 5%;
    font-size: 28px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-family: 'Playwrite Argentina', cursive;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00ff99;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link.active {
    color: #fdfdfd !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #00ff99 !important;
    font-weight: normal;
}
.dropdown-menu{
    background-color: #1c1c22;
}
.dropdown-item{
    color: white;
}
.dropdown-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00ff99;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.dropdown-item::after:hover::after,
.dropd:focus::after:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #1c1c22;
    color: #00ff99 !important;
    font-weight: normal;
    cursor: pointer;
}

.navbar-toggler {
    background-color: white !important;
}
