
.navbar {
    background-color: #1c1c22 !important;
}

.navbar-nav{
    padding-right: 60px;
}

.navbar-brand {
    font-family: 'Playwrite HR Lijeva', cursive;
    color: #00ff99 !important;
    font-weight: bold;
    padding-left: 5%;
    font-size: 28px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-family: 'Playwrite Argentina', cursive;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.nav-link.active {
    color: #00ff99 !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover{
    color: #008751 !important;
}
.dropdown-menu{
    background-color: #1c1c22;
}
.dropdown-item{
    color: white;
    font-weight: bold;
    transition: 0.2s ease;
}

.dropdown-item:hover{
    background-color: #1c1c22;
    color: #007144 !important;
    cursor: pointer;
    transition: 0.2s ease;
}

.navbar-toggler {
    background-color: white !important;
}
