body {
    color: white; 
}

.navbar {
    background-color: transparent !important;
}

.navbar-nav{
    padding-right: 60px;
}

.navbar-brand {
    font-family: 'Playwrite HR Lijeva', cursive;
    color: green !important;
    font-weight: bold;
    padding-left: 5%;
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-family: 'Playwrite Argentina', cursive;
    font-weight: bold;
    position: relative;
    margin-left: 35px;
    padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: green;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: green !important;
    font-weight: normal;
}

.dropdown-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: green;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.dropdown-item::after:hover::after,
.dropd:focus::after:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: green !important;
    font-weight: normal;
}

.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler-icon:hover,
.navbar-toggler-icon:focus {
    border-color: green !important;
}

/* Additional CSS for small device navbar */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: white !important;
        position: absolute;
        top: 56px;
        right: 0;
        width: auto;
        min-width: 200px;
        border: 1px solid green;
        border-radius: 0 0 0 5px;
        padding: 10px;
    }
    .navbar-nav .nav-link {
        color: black !important;
    }
    .dropdown-menu {
        background-color: white !important;
    }
    .dropdown-item {
        color: black !important;
    }
}
